
<!-- /.row -->
<div class="row" ng-controller="manageUsers_createUsers">
    <div class="col-lg-7 leftdiv">


    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5 rightdiv">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#basic" data-toggle="tab">Basic Info</a></li>
        <li><a href="#primary" data-toggle="tab">Primary Info</a></li>
        <li><a href="#secondary" data-toggle="tab">Secondary Info</a></li>
        <li><a href="#social" data-toggle="tab">Social</a></li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Salutation</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Salutation--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Mr.</a> </li>
                            <li><a href="">Mrs.</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="fname" class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="mname" class="col-sm-4 control-label">Middle Name</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="mname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="lname" class="col-sm-4 control-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="lname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Date Of Birth</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Gender</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Gender--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Male</a> </li>
                            <li><a href="">Female</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Blood Group</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Blood Group-</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">O+</a> </li>
                            <li><a href="">A+</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">User Type</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Type--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Teacher</a> </li>
                            <li><a href="">Student</a> </li>
                            <li><a href="">Parent</a> </li>
                            <li><a href="">Staff</a> </li>
                            <li><a href="">Other</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Nationality</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Country--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">India</a> </li>
                            <li><a href="">Pakistan</a> </li>
                            <li><a href="">Bhutan</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Religion</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Religion--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Hindu</a> </li>
                            <li><a href="">Muslim</a> </li>
                            <li><a href="">Christian</a> </li>
                            <li><a href="">Jain</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="tab-pane" id="primary">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="fname" class="col-sm-4 control-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="mname" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="mname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="lname" class="col-sm-4 control-label">Address</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="lname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Country--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">India</a> </li>
                            <li><a href="">Pakistan</a> </li>
                            <li><a href="">Bhutan</a> </li>
                            <li><a href="">China</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">State</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select State--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">UP</a> </li>
                            <li><a href="">Bihar</a> </li>
                            <li><a href="">Tamil Nadu</a> </li>
                            <li><a href="">Delhi</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">City</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select City--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Ahmedabad</a> </li>
                            <li><a href="">Gurgaon</a> </li>
                            <li><a href="">Bangalore</a> </li>
                            <li><a href="">Pune</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="secondary">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="fname" class="col-sm-4 control-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="mname" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="mname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="lname" class="col-sm-4 control-label">Address</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="lname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select Country--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">India</a> </li>
                            <li><a href="">Pakistan</a> </li>
                            <li><a href="">Bhutan</a> </li>
                            <li><a href="">China</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">State</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select State--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">UP</a> </li>
                            <li><a href="">Bihar</a> </li>
                            <li><a href="">Tamil Nadu</a> </li>
                            <li><a href="">Delhi</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label">City</label>
                <div class="col-sm-8">
                    <div class="btn-group" id="categorybttns">
                        <button class="btn btn-media dropdown-toggle" type="button" data-toggle="dropdown">
                            <span i class="dropdownValuePlaceHolder">--Select City--</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">Ahmedabad</a> </li>
                            <li><a href="">Gurgaon</a> </li>
                            <li><a href="">Bangalore</a> </li>
                            <li><a href="">Pune</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="social">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="fname" class="col-sm-4 control-label">Skype</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="mname" class="col-sm-4 control-label">Twitter</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="mname" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="lname" class="col-sm-4 control-label">Facebook</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="lname" placeholder="Email">
                </div>
            </div>

        </form>
    </div>
    </div>

</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->